/*Responsive*/
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}
body {
  background: rgba(0, 0, 0);
  margin: 0;
  color: #fff;
  font-family: 'Old London', sans-serif;
}
/*Navigater Menu for Default*/
a {
  color: white;
  text-align: center;
}
a:link, a:visited {
  text-decoration: none;
}
ul {
  z-index: 2;
  width: 100%;
  list-style-type: none;
  background-color: #333;
  position: fixed;
  top: 0;
}
li {
  cursor: pointer;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right:2px solid #bbb;
}
li:hover {
  background-color: black;
}
.liright {
  float: right;
}
/*Footer*/
footer {
  width: 100%;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: #333;
  border-radius: 5vw 5vw 0 0;
  font-size: 1vw;
}
@media screen and (max-width: 600px){
  ul .liright, 
  ul li {
    display: initial;
    height: 1vh;
    font-size: 2vh;
  }
}